USE [ReservationSystemDb]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateReservation]    Script Date: 30-Nov-25 18:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_CreateReservation]
    @ResourceId INT,
    @UserId INT,
    @StartTime DATETIME2,
    @EndTime DATETIME2
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Resources WHERE Id = @ResourceId AND IsActive = 1)
    BEGIN
        RAISERROR ('Resource not found or inactive.', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM Users WHERE Id = @UserId)
    BEGIN
        RAISERROR ('User not found.', 16, 1);
        RETURN;
    END

    IF dbo.fn_HasReservationOverlap(@ResourceId, @StartTime, @EndTime) = 1
    BEGIN
        RAISERROR ('Overlap detected for this resource and time range.', 16, 1);
        RETURN;
    END

     INSERT INTO Reservations (ResourceId, UserId, StartTime, EndTime, StatusId, CreatedAt)
    VALUES (@ResourceId, @UserId, @StartTime, @EndTime, 1, SYSDATETIME()); 
END;
