USE [ReservationSystemDb]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetReservationsReport]    Script Date: 30-Nov-25 18:13:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[sp_GetReservationsReport]
(
    @FromDate DATETIME2,
    @ToDate DATETIME2
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        r.Id AS ResourceId,
        r.Name AS ResourceName,
        COUNT(res.Id) AS ReservationsCount,
        SUM(CASE 
                WHEN res.Id IS NULL THEN 0
                ELSE DATEDIFF(MINUTE, res.StartTime, res.EndTime)
            END) / 60.0 AS ReservedHours
    FROM Resources r
    LEFT JOIN Reservations res
        ON res.ResourceId = r.Id
       AND res.StatusId = 2  -- (Approved)
       AND res.StartTime >= @FromDate
       AND res.EndTime <= @ToDate
    GROUP BY r.Id, r.Name
    ORDER BY r.Name;
END;
