USE [ReservationSystemDb]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_HasReservationOverlap]    Script Date: 30-Nov-25 18:13:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   FUNCTION [dbo].[fn_HasReservationOverlap]
(
    @ResourceId INT,
    @StartTime  DATETIME2,
    @EndTime    DATETIME2
)
RETURNS BIT
AS
BEGIN
    DECLARE @Result BIT = 0;

    IF EXISTS
    (
        SELECT 1
        FROM Reservations r
        WHERE r.ResourceId = @ResourceId
          AND r.StatusId NOT IN (3, 4) -- Rejected, Cancelled
          AND (
                 (@StartTime >= r.StartTime AND @StartTime <  r.EndTime)
              OR (@EndTime   >  r.StartTime AND @EndTime   <= r.EndTime)
              OR (@StartTime <= r.StartTime AND @EndTime   >= r.EndTime)
          )
    )
        SET @Result = 1;

    RETURN @Result;
END;
