USE [ReservationSystemDb]
GO
/****** Object:  Trigger [dbo].[tr_Reservations_LogChanges]    Script Date: 30-Nov-25 18:12:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   TRIGGER [dbo].[tr_Reservations_LogChanges]
ON [dbo].[Reservations]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO LogEntries (UserId, Action, Details, CreatedAt)
    SELECT
        i.UserId,
        CASE 
            WHEN EXISTS (SELECT 1 FROM deleted d WHERE d.Id = i.Id)
                THEN 'UpdateReservation'
            ELSE 'CreateReservation'
        END AS Action,
        CONCAT('ReservationId=', i.Id, '; StatusId=', i.StatusId),
        SYSUTCDATETIME()
    FROM inserted i;
END;
